<div class="container col-sm-6">
  <form role="form" class="inline-form">
    <div class="form-group">
      <span class="col-sm-2"><label for="txtUserName">Login:</label></span>
      <span class="col-sm-6"><input id="txtUserName" name="txtUserName"  ng-model="userName"/></span>
      <span class="col-sm-4">errors</span>
    </div>
    <div class="form-group">
      <span class="col-sm-2"><label for="txtPassword">Password:</label></span>
      <span class="col-sm-6"><input id="txtPassword" name="txtPassword" ng-model="password" type="password"/></span>
      <span class="col-sm-4">errors</span>
    </div>
    <span class="col-sm-4"><button ng-click="Login()">Login</button></span>
  </form>
</div>
<div class="container col-sm-6">
	<div><h3>Register</h3></div>
	<div class="form-group">
		<span class="col-sm-2"><label for="txtEmail">Email:</label></span>
		<span class="col-sm-6"><input id="txtEmail" name="txtEmail"  ng-model="email"/></span>
	</div>
	<div class="form-group">
		<span class="col-sm-2"><label for="txtUserName">User Name (for Login):</label></span>
		<span class="col-sm-6"><input id="txtUserName" name="txtUserName"  ng-model="userName"/></span>
	</div>
	<div class="form-group">
		<span class="col-sm-2"><label for="txtPassword">Password:</label></span>
		<span class="col-sm-6"><input id="txtPassword" name="txtPassword" ng-model="password" type="password"/></span>
	</div>
	<div class="form-group">
		<span class="col-sm-2"><label for="txtConfirmPassword">Confirm Password:</label></span>
		<span class="col-sm-6"><input id="txtConfirmPassword" name="txtConfirmPassword" ng-model="confirmPassword" type="password"/></span>
	</div>
	<div class="form-group">
		<span class="col-sm-2"><label for="txtDisplayName">Default Display Name (for displaying in a game):</label></span>
		<span class="col-sm-6"><input id="txtDisplayName" name="txtDisplayName"  ng-model="displayName"/></span>
	</div>
  <span class="col-sm-4"><button ng-click="Register()">Register</button></span>
</div>
